#main{
	text-align: center;
}
/*
#d_imgs{
	position: initial;
	overflow: initial;
	width: initial;
	height: initial;
	display: initial;
}
#p_imgs{
	position: initial;
	overflow: initial;
	width: initial;
	height: initial;
	display: initial;
}*/